<div layout="row" layout-sm="column" layout-padding  layout-align="left center">

<md-content>
    <md-list>
        <md-toolbar class="md-theme-light"><h2 class="md-title" layout-padding >Library List</h2></md-toolbar>
        <div layout="row">
            <md-input-container  flex="50">
                <md-button class="md-fab md-primary md-hue-1" aria-label="Add Record" href="#/new">
                    <span class="md-background">Add</span>
                </md-button>
            </md-input-container>
            <md-input-container  flex="50">
                <input id = "queryParam" ng-model = "queryParam" placeholder = "search by name" />
            </md-input-container>
        </div>

        <md-list-item class="md-3-line contact-item" ng-repeat="item in libraryList | filter:queryParam">
            <div class="md-list-item-text" layout="column">
                <h3><md-button ng-href="{{item.url}}" class="md-accent">{{ item.name }}</md-button></h3>
                <h4>{{ item.category }}</h4>
                <p>{{ item.day }} : <span ng-show="{{item.times.currently_open}}">open</span><span ng-show="!{{item.times.currently_open}}">closed</span></p>
            </div>
            <md-button class="md-raised md-primary" ng-href="#/{{item.lid}}">Details</md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
</div>



<!--<div ng-repeat="item in computerAvailability">-->
    <!--{{item.library}}-->
<!--</div>-->
